header {
  padding: 5px;
}

footer{
  margin-top: 7px;
  padding: 5px;
  background-color: rgb(96, 125, 139);
}
main {
  background-image: url(../image/background.jpg);
  padding-bottom: 5px;
}

.header_phone{
  position: relative;
}
.ikon_1{
  position: absolute;
left: auto;
right: 185px;
}

#link_1 {
  text-decoration: none;
  font-size: 20px;
  color:rgb(255, 138, 101) ;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  background-color: rgb(96, 125, 139); 
}
.flex_row_1{
  display: flex;
  flex-direction: column;
}
.link {
  margin: 20px;
}

#link {
  text-decoration: none;
  color: rgb(255, 138, 101);
  font-size: 30px;
  
}

#link:hover {
background-color: rgb(78, 52, 46);
}


.img{
    margin: 10px;
    padding: 0;
    position: relative;
    width:64px;
    height:64px;
    background: #c2c2c2;
    border: 1px solid #000;
    border-radius:3px;
}

.img img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

.push {
  margin-left: auto;
}

.push_1{
  margin-right: auto;
}

.content {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(3,1fr);
  grid-template-areas: "div1 image1 image1" "div2 div3 div4";
  align-items: center;
  padding: 5%;
  margin: 10px;
}

.item_1{
  grid-area: div1;
  background-color:rgb(255, 138, 101) ;
  margin-left: 10px;
}

.item_2{
  margin-left: 20%;
  grid-area: image1;
}
.item_3{
  background-color: rgb(96, 125, 139);
  grid-area: div2;
}
.item_4{
  background-color: rgb(96, 125, 139);
  grid-area: div3;
}
.item_5{
  background-color: rgb(96, 125, 139);
  grid-area: div4;
}

.item_3,
.item_4,
.item_5 {
  height: 70%;
  margin: 15px;
}
.item_1>h2 {
  color: rgb(96, 125, 139);
}

h3 {
  color: rgb(255, 138, 101);
  display: block;
  border: 10px solid rgb(221, 44, 0);
  margin-top: 0;
  background: rgb(0, 137, 123);

}
.end {
  text-align: right;
}

.end
.header_phone{
  justify-content: baseline;
}

.content p {
  text-align: center;
}

.content h3 {
  text-align: center;
}
.item_1 h2 {
  text-align: center;
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    pointer-events: none;
}


.modalDialog:target {
    display: block;
    pointer-events: auto;
}
 
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 40px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
  line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
 
.close:hover { background: #00d9ff; }

.button{
  text-align: center;
  display: block;
  text-decoration: none;
  border: 10px solid rgb(221, 44, 0);
  background-color: rgb(96, 125, 139);
  text-transform: uppercase;
  color:rgb(255, 138, 101);
}

.button:hover {background:#00d9ff; }


.button_1{
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #60e6c5;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer; 
}
.button_1:hover{background: black;}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
input[type="text"], 
input[type="email"], 
input[type="tel"],
input[type="number"],
input[type="password"] {

  border-width: 0;
  outline: none;
  background:rgb(176, 190, 197);
}

.ikon{
  position: absolute;
  top: 20px;
  left: -28px;
  font-size: 50%;
  background: #60e6c5;
  
}

.registration{
  position: relative;
}

input[type="Email"]:focus + .ikon,     
input[type="password"]:focus + .ikon,
input[type="tel"]:focus + .ikon, 
input[type="number"]:focus + .ikon,
input[type="text"]:focus + .ikon{   
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 1090px){
.flex_row {
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: rgb(96, 125, 139); 
}
.push, .push_1{
  margin: auto;
}
.ikon_1{

position: relative;
}

.flex_row_1{
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}

.content{
  display: flex;
  flex-direction: column;
}

.item_2{
  display: none;
}

.modalDialog > div {
    width: 250px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 40px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);


}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    pointer-events: none;
}
}